* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  background: #d4f1f4;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  /* google chrome */
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
h1 {
  margin-left: auto;
  margin-right: auto;
}
img {
  height: 500px;
  width: 100%;
}
.logo {
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin-top: 40px;
  margin-left: -10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
th {
  color: white;
}
.cardHeader {
  background-color: #189ab4;
  color: white;
  height: 100px;
  padding: 2px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #d4f1f4;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  height: 500px;
  /* padding: 20px; */
}

.card {
  background-color: #189ab4;
  padding: 20px;
  margin-top: 20px;
  color: white;
}
.row {
  margin: 45px 10px 85px 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #05445e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #05445e;
  text-align: center;
  color: white;
}

.navbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding-right: 20px;
  background-color: #05445e;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: white;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  float: right;
  margin: 10px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.active {
  display: block;
  color: #189ab4;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 48px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }
  .nav-links:hover {
    color: white;
  }
}

/*main contain cards */
@media screen and (max-width: 768px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
/*main contain cards */

/* icon css start */
.btn.btn-social-icon {
  width: 50px;
  height: 50px;
  padding: 0;
}

.template-demo > .btn {
  margin-right: 0.5rem !important; /* 1rem = 16px */
}

.template-demo {
  margin-top: 0.5rem !important; /* 1rem = 16px */
}

.btn.btn-rounded {
  border-radius: 50px;
}

.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d;
}

.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff;
}

.btn-outline-youtube {
  border: 1px solid #e52d27;
  color: #e52d27;
}

.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1;
}

.btn-outline-dribbble {
  border: 1px solid #ea4c89;
  color: #ea4c89;
}

.btn-outline-linkedin {
  border: 1px solid #0177b5;
  color: #0177b5;
}

.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38;
}

.btn-outline-twitter:hover {
  background: #2caae1;
  color: #ffffff;
}

.btn-outline-linkedin:hover {
  background: #0177b5;
  color: #ffffff;
}

.btn-outline-youtube:hover {
  background: #e52d27;
  color: #ffffff;
}

.btn-outline-instagram:hover {
  background: #e52d27;
  color: #ffffff;
}

.btn-facebook {
  background: #3b579d;
  color: #ffffff;
}

.btn-youtube {
  background: #e52d27;
  color: #ffffff;
}

.btn-twitter {
  background: #2caae1;
  color: #ffffff;
}

.btn-dribbble {
  background: #ea4c89;
  color: #ffffff;
}

.btn-linkedin {
  background: #0177b5;
  color: #ffffff;
}

.btn-instagram {
  background: #dc4a38;
  color: #ffffff;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278;
  color: #ffffff;
}

.btn-youtube:hover,
.btn-youtube:focus {
  background: #c21d17;
  color: #ffffff;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1b8dbf;
  color: #ffffff;
}

.btn-dribbble:hover,
.btn-dribbble:focus {
  background: #e51e6b;
  color: #ffffff;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  background: #015682;
  color: #ffffff;
}

.btn-instagram:hover,
.btn-instagram:focus {
  background: #bf3322;
  color: #ffffff;
}
/* icon css end */
